# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=CHANGE_ME_TO_SECURE_RANDOM_32CHAR_VALUE

# メンテナンスモード
NEXT_PUBLIC_MAINTENANCE_MODE=false

# フロントURL
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

# API URL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# デバッグログレベル
NEXT_PUBLIC_DEBUG_LEVEL=3
