# 本番識別子
NODE_ENV=production

# 本番環境ホストのURL
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

# 本番環境APIのURL
NEXT_PUBLIC_API_BASE_URL=http://localhost:8000

# デバッグログレベル
NEXT_PUBLIC_DEBUG_LEVEL=0
  
# Token
JWT_SECRET_KEY=AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440