############
# Secrets
############

POSTGRES_PASSWORD=CHANGE_ME_POSTGRES_PASSWORD
JWT_SECRET=CHANGE_ME_JWT_SECRET_32CHAR_MINIMUM
ANON_KEY=CHANGE_ME_SUPABASE_ANON_KEY
SERVICE_ROLE_KEY=CHANGE_ME_SUPABASE_SERVICE_ROLE_KEY
DASHBOARD_USERNAME=supabase
DASHBOARD_PASSWORD=CHANGE_ME_DASHBOARD_PASSWORD
SECRET_KEY_BASE=CHANGE_ME_SECRET_KEY_BASE
VAULT_ENC_KEY=CHANGE_ME_ENCRYPTION_KEY_32CHARS_MIN
PG_META_CRYPTO_KEY=CHANGE_ME_ENCRYPTION_KEY_32CHARS_MIN

############
# Database
############
POSTGRES_HOST=db
POSTGRES_DB=postgres
POSTGRES_PORT=5432

############
# Supavisor / DB Pooler
############
POOLER_PROXY_PORT_TRANSACTION=6543
POOLER_DEFAULT_POOL_SIZE=20
POOLER_MAX_CLIENT_CONN=100
POOLER_TENANT_ID=CHANGE_ME_TENANT_ID
POOLER_DB_POOL_SIZE=5

############
# API Proxy (Kong)
############
KONG_HTTP_PORT=8000
KONG_HTTPS_PORT=8443

############
# PostgREST
############
PGRST_DB_SCHEMAS=public,storage,graphql_public

############
# Auth (GoTrue)
############
SITE_URL=http://localhost:3000
ADDITIONAL_REDIRECT_URLS=
JWT_EXPIRY=3600
DISABLE_SIGNUP=false
API_EXTERNAL_URL=http://localhost:8000

MAILER_URLPATHS_CONFIRMATION="/auth/v1/verify"
MAILER_URLPATHS_INVITE="/auth/v1/verify"
MAILER_URLPATHS_RECOVERY="/auth/v1/verify"
MAILER_URLPATHS_EMAIL_CHANGE="/auth/v1/verify"

ENABLE_EMAIL_SIGNUP=true
ENABLE_EMAIL_AUTOCONFIRM=false
SMTP_ADMIN_EMAIL=admin@example.com
SMTP_HOST=supabase-mail
SMTP_PORT=2500
SMTP_USER=fake_mail_user
SMTP_PASS=fake_mail_password
SMTP_SENDER_NAME=fake_sender
ENABLE_ANONYMOUS_USERS=false

ENABLE_PHONE_SIGNUP=true
ENABLE_PHONE_AUTOCONFIRM=true

############
# Studio Dashboard
############
STUDIO_DEFAULT_ORGANIZATION=Default Organization
STUDIO_DEFAULT_PROJECT=Default Project
SUPABASE_PUBLIC_URL=http://localhost:8000
IMGPROXY_ENABLE_WEBP_DETECTION=true
OPENAI_API_KEY=

############
# Functions
############
FUNCTIONS_VERIFY_JWT=false

############
# Logs / Analytics
############
LOGFLARE_PUBLIC_ACCESS_TOKEN=CHANGE_ME_LOGFLARE_PUBLIC
LOGFLARE_PRIVATE_ACCESS_TOKEN=CHANGE_ME_LOGFLARE_PRIVATE
DOCKER_SOCKET_LOCATION=/var/run/docker.sock

GOOGLE_PROJECT_ID=CHANGE_ME_GOOGLE_PROJECT_ID
GOOGLE_PROJECT_NUMBER=CHANGE_ME_GOOGLE_PROJECT_NUMBER
